.home-container {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  overflow-y: auto;
}

.loader-container {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-img {
  height: 45vh;
  width: 100%;
  outline: none;
}
.offers-details-container {
  height: 45vh;
  width: 850px;
}
.slider-item {
  outline: none;
}
.popular-restaurants-heading-container {
  width: 65%;
}
.popular-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
}
.popular-paragraph {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #64748b;
}
.filter-and-para-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
.filter-container {
  display: flex;
  align-items: center;
}
.filter-options {
  font-size: 15px;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  outline: none;
  color: #475569;
}
.sort-by-para {
  font-size: 15px;
  font-weight: 700;
  color: #475569;
}
.filter-icon {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
