.footer-bg-container {
  height: 40vh;
  width: 1024px;
  background-color: black;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.footer-website-name {
  color: white;
  font-family: Dm sans;
  font-style: italic;
  font-size: 20px;
}
.footer-website-logo-and-name-container {
  display: flex;
  align-items: center;
}
.contact-us-para {
  color: white;
  font-family: Dm sans;
  text-align: center;
  width: 40%;
  margin-bottom: 3%;
}
.footer-icons-container {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.footer-website-logo {
  height: 30px;
  margin-right: 10px;
}
