* {
  font-family: DM Sans;
}

.login-desk-top-bg-container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}
.login-website-heading {
  color: #f7931e;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.login-form-bg-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-container {
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  height: 70vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-left: 40px;
  padding-right: 40px;
}
.login-heading {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
.login-logo-and-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 3%;
}
.label {
  width: 66px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.login-input {
  background-color: #e2e8f0;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 28px;
  outline: none;
  border: 0px;
  padding-left: 12px;
  border-radius: 5px;
  font-family: Roboto;
}
.login-pass-input {
  background-color: #e2e8f0;
  height: 40px;
  margin-top: 12px;
  margin-bottom: 10px;
  outline: none;
  border: 0px;
  padding-left: 12px;
  border-radius: 5px;
  font-family: Roboto;
}
.login-btn {
  color: white;
  background-color: #f7931e;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: 0px;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 20px;
}
.error-msg {
  color: RED;
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.website-login-img-desktop {
  width: 46%;
  height: 100%;
}

.mobile-login-bg-container {
  display: flex;
  flex-direction: column;
  align-items: self;
  height: 100vh;
  width: 100%;
}

.mobile-login-img {
  align-self: flex-end;
  top: -28px;
  width: 310px;
  height: 310px;
}

@media screen and (max-width: 576px) {
  .login-desk-top-bg-container {
    display: none;
  }
}

.login-mobile-bg-container {
  background-image: url('https://res.cloudinary.com/dj3r4fhqp/image/upload/ar_1:1,c_fill,co_rgb:ffffff,dn_54,g_auto,w_1000/v1678866929/Rectangle_1456_l9mght.png');
  height: 100vh;
  background-position: center;
  filter: blur(4px);
}
.login-mobile-card {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-color: #ffffff20;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mobile-website-logo {
  height: 60px;
  width: 60px;
}
.mobile-website-heading {
  color: orange;
}

.mobile-login-input {
  background-color: transparent;
  outline: none;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  font-size: 18px;
  margin-top: 50px;
}
.mobile-login-input::placeholder {
  color: white;
}
