.food-item-container {
  display: flex;
  width: 45%;
  margin-bottom: 3%;
}
.food-item-img {
  height: 156px;
  width: 230px;
  border-radius: 5px;
}
.food-item-name {
  font-size: 17px;
  font-weight: 500;
  font-family: Dm sans;
  margin-bottom: 4px;
  margin-top: 0px;
}
.food-item-name-cost-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  justify-content: center;
}
.food-item-cost {
  font-size: 13px;
  font-weight: 500;
  font-family: Dm sans;
}
.rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.cost-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  height: 14px;
}
.food-item-rating {
  font-size: 13px;
  font-weight: 600;
}
.food-item-add-btn {
  background-color: transparent;
  color: #ffa412;
  border: 2px solid #ffa412;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  padding: 6px;
  width: 60px;
  font-weight: 700;
}
.add-counter-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.increment-count-btn {
  color: #475569;
  border: 2px solid #475569;
  padding: 3px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  width: 23px;
  height: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.count-para {
  color: #475569;
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-weight: 500;
}
